 <head>
      {% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
 <h1 style="color: green;">{{ question.question_text }}</h1>
<ul>
{% for choice in question.choice_set.all %}
    <li style="color: green;" >{{ choice.choice_text }}</li>
{% endfor %}
</ul>

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
       
        {% if error_message %}
            <p ><strong>{{ error_message }}</strong></p>
        {% endif %}
        {% for choice in question.choice_set.all %}
            <input  style="color: green;" type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input  type="submit" value="Голосовать">
</form>
